#modcontainer {
    height: 100%;
    width: 100%;
    overflow: auto;
}

#interactionLayer {
    background-color: rgb(180, 172, 172);
    opacity: 0.0;
}

.selection {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    border: 1px solid #677085;
    background-color: rgba(0, 90, 230, 0.17);
    width: 0;
    height: 0;
    top: 0;
    left: 0;
}

.selection-bg {
    visibility: hidden;
    position: absolute;
    background-color: rgba(200, 90, 230, 0);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.inactiveMarking {
    background-color: cornflowerblue;
    border: black;
    opacity: 0;
    pointer-events: none;
}

.activeMarking {
    background-color: cornflowerblue;
    border: black;
    opacity: 0.5;
    pointer-events: none;
}

.enabled {
    visibility: visible;
}

.disabled {
    visibility: hidden;
}

#drawingLayer  {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.timeline {
    border: solid 1px;
    border-radius: 4px;
    position: absolute;
    padding:0px;
    margin:0px;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12);
}

.timeMarker {
    background-color: none;
    position: absolute;
    border: solid lightgray 1px;
    padding-left: 5px;
    line-height: 25px;
    vertical-align: middle;
    text-align: left;
    cursor: default;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-right:none;
    border-bottom:none;
}

.timeMarker-top {
    font-weight: bold;
    border-top:none;
}

.timeMarker-left {
    border-left:none;
}

.timeMarker-marked {
    background-color: #EEEEEE;
}

.card {
    text-overflow: ellipsis;
    padding: 2px;
    margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    cursor: default;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.12),
                0px 1px 2px 0px rgba(0,0,0,0.24);
}

.connector {
    background-color: lightgray;
    position: absolute;
    width: 2px;
}
